.about-intro {
  padding: 90px 20px;
  background: #ffffff;
}

.about-intro-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.about-intro-container h2 {
  font-size: 34px;
  font-weight: 700;
  color: #000000; /* blue heading */
  margin-bottom: 30px;
}

.about-intro-container p {
  font-size: 16px;
  line-height: 1.9;
  color: #333;
  margin-bottom: 22px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-intro {
    padding: 60px 15px;
  }

  .about-intro-container h2 {
    font-size: 28px;
  }

  .about-intro-container p {
    font-size: 15px;
  }
}
