.services-list {
  padding: 80px 20px;
  background: #f9f9f9;
}

.container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section-subtitle {
  color: #666;
  margin-bottom: 50px;
  font-size: 1.05rem;
}

/* Grid */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.service-card {
  background: #fff;
  padding: 28px 22px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  text-align: center;
  min-height: 360px;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
}

.services-grid > :nth-child(4) {
  grid-column: 1 / 2;
}

.services-grid > :nth-child(5) {
  grid-column: 2 / 3;
}


.service-icon {
  font-size: 2.4rem;
  color: #e10600;
  background: #9c1813;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 18px
}

.service-card h3 {
  margin-bottom: 10px;
  font-size: 1.15rem;
}

.service-card p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.service-link {
  color: #e10600;
  font-weight: 600;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
}

.service-link:hover {
  text-decoration: underline;
}


/* Responsive */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}
